@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-scroll: #e5e5e5;
  --color-ticket: #ced0ce;

  --card-border-radius: 2rem;
  --boder-radius-1: 0.4rem;
  --boder-radius-2: 0.8rem;
  --boder-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);

  --color-cartemenu-light:#ffffff;
  --color-cartemenu-dark:#dddcdc;
}

/* --------------- DARK THEME VARIABLE --------------- */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-scroll: #677483;
  --color-ticket: #444444;

  --color-cartemenu-light:#444444;
  --color-cartemenu-dark:#2f363c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
}

/* THEME SOMBRE */

.right .theme-toggler {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  background: var(--color-light);
  border-radius: var(--boder-radius-1);
  background: transparent;
  cursor: pointer;
  height: 1.6rem;
  width: 2.4rem;
}
.right .theme-toggler i {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler i {
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--boder-radius-1);
}

.back_btn {
  color: var(--color-primary);
  text-decoration: 0;
  display: flex;
  align-items: center;
}

/* Début des classes d'icones */

.big_icon_size {
  width: 37.8px;
  height: 37.6px;
  
}

.icon_size_sidebar {
  width: 18.2px;
  height: 18.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_size {

  height: 18.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon_darkmode {
  width: 18.2px;
  height: 18.4px;
}

