
* {
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  zoom: 100%;
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  /* background-color: rgb(30, 131, 194); */
  gap: 1.8rem;
  /* grid-template-columns: 14rem auto 23rem; */
  grid-template-columns: 14rem auto;
}
/* Lien a */
a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
.profil-photot {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

aside {
  height: 100vh;
}
aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
}
aside .logo img {
  width: 3rem;
  height: 3rem;
}

aside .close {
  display: none;
}
/* =================  SIDEBAR  =============== */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
/* Number 26 */
aside .sidebar a i {
  font-size: 1.3rem;
}
aside .sidebar .message-count {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--boder-radius-1);
}

/* transition icons */
aside .sidebar a i {
  transition: all 300ms ease;
}
aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}
aside .sidebar a.active i {
  color: var(--color-primary);
  /* -3px pour align les icone */
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}
aside .sidebar a:hover i {
  margin-left: 1rem;
}

/* =================  MAIN  =============== */

main {
  margin-top: 1.4rem;
}

main .statistical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
main .statistical > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}
main .statistical > div:hover {
  box-shadow: none;
}
main .statistical > div i {
  /* background: var(--color-primary); */
  padding: 0.5rem;
  /* border-radius: 50%; */
  color: var(--color-primary);
  font-size: 2.7rem;
}
main .statistical > div.tl-connexion i {
  /* background: var(--color-danger); */
  color: var(--color-danger);
}
main .statistical > div.tl-message i {
  /* background: var(--color-success); */
  color: var(--color-dark-variant);
}
main .statistical > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .statistical h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}
main .statistical .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
main .statistical svg {
  width: 7rem;
  height: 7rem;
}
main .statistical svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
main .statistical .tl-commande svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
main .statistical .tl-connexion svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
main .statistical .tl-message svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
main .statistical .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .statistical small {
  margin-top: 1.3rem;
  display: block;
}

/* =================  COMMANDE RECENTE  =============== */

main .Commande-rencent {
  margin-top: 2rem;
}
main .Commande-rencent h2 {
  margin-bottom: 0.8rem;
}
main .Commande-rencent table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
main .Commande-rencent table:hover {
  box-shadow: none;
}
main table tbody td {
  height: 0rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
  border: none;
}
main .Commande-rencent a {
  text-align: center;
  display: block;
  margin: 1rem;
  color: var(--color-primary);
}
/* .right {
   position: absolute;
   top: 0;
   right: 0;
} */

.right {
  margin-top: 1.4rem;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}
.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 2.4rem;
  cursor: pointer;
  border-radius: var(--boder-radius-1);
}
.right .theme-toggler i {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler i.active {
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--boder-radius-1);
}
.right .top .profil {
  padding-right: 60px;
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* test profiul */

.right .top {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 4.6rem;
  /* background: var(--color-white); */
  width: 100%;
  margin: 0;
  z-index: 2;
  /* box-shadow: 0 1rem 1rem var(--color-light); */
}

/* MEDIA */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    grid-template-columns: 7rem auto;
  }
  aside .logo h2 {
    display: none;
  }
  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  main .statistical {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .Commande-rencent {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .Commande-rencent table {
    width: 83vw;
  }
}
/* media query tablet */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .Commande-rencent {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .Commande-rencent table {
    /*mettre le main si probléme*/
    width: 100%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  /* le profil et le rest */
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 2.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profil .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button i {
    font-size: 1.6rem;
  }
}
/* media phone */
@media screen and (max-width: 425px) {
  .right .top .theme-toggler {
    left: 59%;
  }
  main .Commande-rencent table {
    width: 90vw;
  }
}
.close {
  font-size: 2rem;
}

/* SCROLL PAGE */

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--color-scroll);
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--color-primary);
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-variant);
}
/* Media pour le scroll */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /*For remainder of the browsers*/
  }
}

/* Les notification */

/* Cursor sur l'icone cloche de notification */
.notifications label {
  cursor: pointer;
}
/* Style icone */
.notifications > ul > li > a {
  color: var(--color-primary);
  font-size: 1.5rem;
  padding: 1rem 0;
  display: inline-block;
  cursor: default;
}
/* Style li hors Box */
.notifications > ul > li {
  position: relative;
  padding: 1rem 0;
  display: inline-block;
}
/* Box contenant les message */
.notifications ul li .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-white);
  border: 1px solid #ccc;
  border-radius: var(--boder-radius-3);
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  width: 250px;
  transition: 0.3s;
  /* Scroll */
  /* overflow-y: auto; */
  /* max-height: 315px; 350px before */
}
/* Scroll aussi */
/* .notifications ul li .dropdown::-webkit-scrollbar {
  width: 0px;
} */

/* Style li box  */
.notifications ul li .dropdown li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
/* Cacher au clic */
.notifications > ul > li > .dropdown-check {
  display: none;
}
/* Afficher au clic */
.notifications > ul > li > .dropdown-check:checked ~ .dropdown {
  visibility: visible;
  opacity: 1;
}
/* Cont */
.notifications > ul > li > a .count {
  position: absolute;
  right: -4px;
  top: 26px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-danger);
  color: #fff;
  width: 12px;
  height: 12px;
}

/* Style pour le derinier enfant */
.notifications ul li .dropdown li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
/* Style box notification */
/* .notification-box img {
  border: 0px solid black;
  border-radius: 50%;
  width: 50px;
} */

/* new notif */

/* Le conteneur des notification  */
.notifications .dropdown .notify_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.notifications .notify_item:last-child {
  border-bottom: 0px;
}
/* Conteneur de l'image */
.notifications .dropdown .notify_item .notify_img {
  margin-right: 15px;
}
/* image de profile */
.notifications .dropdown .notify_item .notify_img img {
  border: 0px solid black;
  border-radius: 50%;
  width: 50px;
}

.notifications .dropdown .notify_item .notify_info p {
  margin-bottom: 5px;
}
.notifications .dropdown .notify_item .notify_info p:nth-child(2) {
  color: var(--color-primary);
}

.notifications .dropdown .notify_item .notify_info .notify_time {
  color: var(--color-dark-variant);
  font-size: 12px;
}

/* Responsive notification */

@media screen and (max-width: 768px) {
  .notifications ul li .dropdown {
    left: -187px;
  }
  .notifications > ul > li > a {
    left: -48px;
  }
}

/* QR Code */

#qrForm {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
}

#qrForm img, #qrForm input {
  margin-left: 10px; /* Marge à gauche de l'image pour l'espacement */
}

.icon_qrcode {
  background: none;
}
