/* =================  MAIN  =============== */

main {
  margin-top: 1.4rem;
}
/* =================  Produits =============== */

main .Utilisateur {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
/* Mettre le tableau n°3(plat) sur
  tout la largeur de l'ecran */
.table-grid {
  grid-column: 1 / 3;
}
/* Configuration icone delecte et edit */
main .Utilisateur i {
  padding: 0.5rem;
  color: var(--color-primary);
  font-size: 1.5rem;
}

main .Utilisateur button {
  background: transparent;
}
/* Titre tableau */
main .Utilisateur table caption {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  /* Espace entre caption et tableaux */
  margin: 1.5rem 0 1rem 0;
}

main .Utilisateur .test{
  box-shadow: none !important;

}

/* main .Utilisateur h2 {
    margin-bottom: 0.8rem;
  } */
.main-user .Utilisateur table{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
main .Utilisateur table:hover {
  box-shadow: none;
}
main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
/* Bouton d'ajoute d'element  colonne */
.add td i {
  margin-top: 10px;
}

main table tbody tr:last-child td {
  border: none;
}
.description-text {
  word-wrap: break-word;
  width: 250px;
}

/* MEDIA */
@media screen and (max-width: 1200px) {
  /* position menu */

  main .Utilisateur {
    grid-template-columns: 1fr;
    gap: 0;
  }
  /* Forcer la mise en disposition des tableau
    enn 1fr */
  .table-grid:nth-child(1),
  .table-grid:nth-child(2),
  .table-grid:nth-child(3),
  .table-grid:nth-child(4),
  .table-grid:nth-child(5) {
    grid-column: 1 / 3;
  }
  main .Utilisateur {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .Utilisateur table {
    width: 83vw;
  }
}
/* media query tablet */
@media screen and (max-width: 768px) {
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .Utilisateur {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .Utilisateur table {
    /*mettre le main si probléme*/
    width: 100%;
    margin: 1.5rem auto;
  }
  /* icone tablet */
  .table-grid tbody tr td i {
    padding: 0.5rem;
    /* font-size: 1.5rem; */
  }
}
/* media phone */
@media screen and (max-width: 425px) {
  main .Utilisateur table {
    width: 90vw;
  }
  /* icone phone */
  .table-grid tbody tr td i {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}
/* Media min: 769px and 836px tablette */
@media screen and (min-width: 769px) and (max-width: 836px) {
  /* icone tablet */
  .table-grid:nth-child(3) tbody tr td i {
    padding: 1.2rem;
    font-size: 1.5rem;
  }
}
