
h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--color-dark);
}

/* SCROLL PAGE */

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--color-scroll);
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--color-primary);
}
body::-webkit-scrollbar-thumb:hover  {
  background: var(--color-dark-variant);
}
/* Media pour le scroll */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /*For remainder of the browsers*/
  }
}


/*===== FORM =====*/
.plat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  background-color: var(--color-white);
  padding: 25px;
  border-radius: 1rem;
}
.tabs {
  text-align: center;
}

.tab-content{
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.sub-tab-button{
  margin: 10px;
  width: 200px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content table td input[type=number] {
  width: 40px;
  height: 40px;
  text-align: center;  
  margin: 0 5px;  
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab-content table td form{
  display: flex;
  align-items: center;
}

/* Appliquez le style à chaque deuxième ligne du tableau */
.tab-content table tr:nth-child(even) {
  background-color: #dddcdc; /* Couleur pour les lignes paires */
}

.tab-content table tr:nth-child(odd) {
  background-color: #ffffff; /* Couleur pour les lignes impaires */
}

/* Style pour la première ligne (titres des colonnes) */
.tab-content table tr:first-child {
  background-color: #3498db; /* Couleur pour la première ligne */
  color: #ffffff; /* Couleur du texte pour la première ligne */
}

td {
  padding: 10px;
}

.quantity{
  display: flex;  
  flex-direction: row;
  align-content: center;
}

/* Styles pour les boutons de quantité */
.quantity button, .quantity-minus {
  background-color: #3498db; /* Couleur bleue */
  color: #ffffff; /* Couleur du texte en blanc */
  margin: 5px;
  width: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.quantity button:hover {
  background-color: #2980b9; /* Légère variation de couleur au survol */
}

.quantity button.quantity-minus {
  margin-right: 5px; /* Marge entre les boutons */
}

.quantity button.quantity-plus {
  margin-left: 5px; /* Marge entre les boutons */
}

.descPlat{
  font-size: 12px;
}

#valider {
  background-color: #3498db; /* Couleur verte */
  color: #ffffff; /* Couleur du texte en blanc */
  border: none;
  padding: 10px 10px;
  margin-left: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#valider:hover {
  background-color: #2980b9; /* Légère variation de couleur au survol */
}


.texte1 {
  text-align: center;
  margin-top: 5vh;
}
.texte2 {
  text-align: center;
  margin-top: 2vh;
}
.texte2 i {
  color: var(--color-primary);
  cursor: pointer;
}
.texte3 {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.back_btn {
  position: absolute;
  /* Tablette */
  /* top: 63vh;
  left: 80vw; */
  /* PC */
  top: 5px;
  left: 560px;
}

td button{
  margin: 5px;
}

.commentaire {
  padding: 2px;
}

@media only screen and (orientation: landscape) {
  .texte3 {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
}

.ticket_de_caisse button {
  background: transparent;
  border: none;
}

.ticket_de_caisse .quantity-minus {
  background-color: #3498db;
  height: 30px;
  width: 35px;
}

.ticket_de_caisse i {
  color: var(--color-primary);
}


.tab-button{
  padding: 4px;
  background-color: var(--color-info-dark);
  cursor: pointer;
  color: var(--color-dark);
  border: none;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  width: 100px;
  height: 40px;
}
.ticket_de_caisse{
  background-color: var(--color-ticket);
  border-radius: 1rem;
  width: 400px;
  float: right;
  right: 0px;
  top: 50%;
  transform: translate(-10%, -50);
  position: fixed;
  top: 60px;
  overflow-y: scroll;
  height: 80%;
  padding-left: 10px;
  }

.ticket_de_caisse td{
  margin: 5px;
}

.ticket_de_caisse::-webkit-scrollbar{
  display: none;
}
.container_ticket {
  background-color: var(--color-ticket);
  float: none;
  width: 200px;
  align-items: center;
}
@media(max-width: 1400px){
  .ticket_de_caisse{
  margin-bottom: 100px;
  background-color: var(--color-ticket);
  border-radius: 1rem;
  width: 500px;
  float: none;
  align-items: center;
  transform: none;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}
}
